@import 'tailwindcss';

@font-face {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(./fonts/Gilroy-Light.woff2) format('woff2');
}

@theme {
	--font-display: 'Gilroy', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
